# compiled output
/dist
**/dist/
/node_modules
**/node_modules/
/build
target/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env
.env.local
.env.development
.env.production
.env.test

# Database
*.db
*.sqlite
*.sqlite3

# Temp files
*.swp
*.swo
*~
.tmp/

# TypeORM
ormconfig.json

# Redis dump
dump.rdb

# Charles Session Files
*.chls
